<p>
	<strong>Title:</strong>
	<%= @article.title %>
</p>
 
<p>
	<strong>Text:</strong>
	<%= @article.text %>
</p>

<!-- render the partial in app/views/comments/_comment.html.erb once for each comment that is in the @article.comments collection -->
<h2>Comments</h2>
<%= render @article.comments %>

<!-- render the partial in app/views/comments/_form.html.erb -->
<h2>Add a comment:</h2>
<%= render 'comments/form' %>

<%= link_to 'Edit', edit_article_path(@article) %> |
<!-- link to go back to index action so people viewing a single article can go back and view all -->
<%= link_to 'Back', articles_path %>
